body {

    margin: 59px 122px 75px 122px;
    font-family: 'Noto Sans';
    font-size: 22px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-bottom: 76px;
}

.navigation>a {
    color: #959596;
    margin: 0px 15px;
    text-decoration: none;
}

.hero {
    width: 1115px;
    height: 292;
    display: flex;
    flex-direction: row;
    margin-bottom: 136px;
}

h1 {
    font-style: bold;
    font-weight: 700;
    font-size: 60px;
    line-height: 76px;
    color: #3F7B94;
}



.intro {
    /* A visual designer creating online experiences through data and framework */

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 45px;
    color: #959596;

}

.headshot {
    height: 292px;
    width: 292px;
    border-radius: 65%;
    min-width: 292px;
    margin-right: 67px;
    background-image: url("images/Head_Shot.png");
    background-size: contain;
}


.primaryProject {
    height: 214px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 56px;

}

.primaryProject_image {
    height: 100%;
    width: 50%;
    background-image: url("images/eco_eats.png");
    object-fit: cover;
}

.primaryProject_text {
    height: 100%;
    width: 50%;
    background-color: #6B6C6C;
    text-decoration: none;
}

.eco {

    /* Eco Eats */

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.ecoText {

    /* A recipe app designed to store and discover recipes, as well as help reduce food waste */

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;


    padding-top: 0;
    padding-right: 89px;
    padding-bottom: 0px;
    padding-left: 89px;


}

.threeProjects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 22px 0;
}

.athreeProjects_project {
    height: 214px;
    width: 380px;
    background-image: url("images/undercurrent.png");
    object-fit: cover;
}

.bthreeProjects_project {
    height: 214px;
    width: 380px;
    background-image: url("images/government.png");
    object-fit: cover;
}

.cthreeProjects_project {
    height: 214px;
    width: 380px;
    background-image: url("images/travel.png");
    object-fit: cover;
}

.grid-container1 {
    background: white;
    max-width: 100%;
    margin: 0 0 93px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-container1>div {
    text-align: center;
    padding: 20px;
    margin: 0;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #959596;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    
}

.footertext {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #3F7B94;
    margin: 0 0 8px 0;
    display: flex;
    text-decoration: none;
}

.footer {
    color: #959596;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    body {
        margin: 59px 54px 75px 54px
       }
    
    .navigation {
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        margin-bottom: 80px;
    }

    .hero {
        width: 544px;
        height: 132px;
        display: flex;
        flex-direction: row;
        margin-bottom: 98px;
    }
    h1 {
        font-style: bold;
        font-weight: 800;
        font-size: 24px;
        line-height: 33px;
    }
    .intro {
        /* A visual designer creating online experiences through data and framework */
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
    }
    .headshot {
        height: 132px;
        width: 132px;
        border-radius: 65%;
        min-width: 132px;
        margin-right: 53px;
        background-image: url("images/Head_Shot.png");
        background-size: contain;
    }
    .primaryProject {
        height: 84px;
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 60px;
    }
    .eco{
        font-weight: 700;
        font-size: 22px;
        line-height: 32px;
    }
    .ecoText {
      display: none;
    }
    
    .athreeProjects_project {
        height: 86px;
        width: 152px;
        background-image: url("images/undercurrent.png");
        object-fit: cover;
    }
    
    .bthreeProjects_project {
        height: 86px;
        width: 152px;
        background-image: url("images/government.png");
        object-fit: cover;
    }
    
    .cthreeProjects_project {
        height: 86px;
        width: 152px;
        background-image: url("images/travel.png");
        object-fit: cover;
    }
    .grid-container1>div {
       display: none;
    }

} 






@media screen and (max-width: 800px) {
    body {
        margin: 59px 68px 42px 64px
       }
    
    .navigation {
        display: flex;
        flex-direction: row;
        justify-content:right;
        align-items: center;
        margin-bottom: 80px;
    }

    .hero {
        width: 645px;
        height: 185px;
        display: flex;
        flex-direction: row;
        margin-bottom: 82px;
    }
    h1 {
        font-style: bold;
        font-weight: 800;
        font-size: 32px;
        line-height: 44px;
    }
    .intro {
        /* A visual designer creating online experiences through data and framework */
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
    }
    .headshot {
        height: 185px;
        width: 185px;
        border-radius: 65%;
        min-width: 185px;
        background-image: url("images/Head_Shot.png");
        background-size: contain;
    }
    .primaryProject {
        height: 84px;
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 60px;
    }
    .eco{
        font-weight: 700;
        font-size: 16px;
        line-height: 14px;
    }
    .ecoText {
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: #FFFFFF;
        text-decoration:none;
    
        padding-top: 0;
        padding-right: 40px;
        padding-bottom: 0px;
        padding-left: 40px;
    }
    
    .athreeProjects_project {
        height: 118px;
        width: 210px;
        background-image: url("images/undercurrent.png");
        object-fit: cover;
    }
    
    .bthreeProjects_project {
        height: 118px;
        width: 210px;
        background-image: url("images/government.png");
        object-fit: cover;
    }
    
    .cthreeProjects_project {
        height: 118px;
        width: 210px;
        background-image: url("images/travel.png");
        object-fit: cover;
    }
    .grid-container1 {
        background: white;
        max-width: 100%;
        margin: 0 0 93px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .grid-container1>div {
        text-align: center;
        padding: 20px;
        margin: 0;

        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #959596;
    }
   
} 

